.form {
    width: 460px;
}


.form-control {
    border-radius: 50px;
    position: relative;
    left: 10px;
    background-color: #00000058;
}

.form-control:focus {
    outline: 0;
    background-color: #00000058;
    color: lightgrey;
}

.form-control::placeholder {
    color: #000;
}

.input-group {
    border-radius: 50%;
}


.btn-outline-info {
    border-radius: 25px;
}

.btn-warning {
    border-radius: 50%;
    position: relative;
    left: 370px;
    bottom: 76px;
    width: 70px;
    height: 70px;
}
